	 <!-------------------footer start---------->

	 <div class="py-3 h3 text-center mt-3 text-info"> Find Us</div>

	<div class="footer">
		<div class="container">
			<div class="row">
				<div class="col">
					<h5>Links</h5>
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">Services</a></li>
						<li><a href="#">Teams</a></li>
						<li><a href="#">Contact Us</a></li>
					</ul>
				</div>

				<div class="col">
					<h5>Our Services</h5>
					<ul>
						<li><a href="#">Job merging</a></li>
						<li><a href="#">Local search</a></li>
						<li><a href="#">Financial Advice</a></li>
						<li><a href="#">IT trends</a></li>
					</ul>
				</div>

				<div class="col">
					<h5>Address</h5>
					<p>P.O Box 0033652</p>
					<p>+2547123456789</p>
					<p>jobportal@gmail.com</p>
				</div>
			</div>
		</div>
	</div>
					<!-------------------footer end------------>
					<!-------------------copyright start------------>
	<div class="copyright">
		<div class="container">
			<p>&copy; JobPortal 2022 | all Rights Reserved</p>
		</div>
	</div>
         <!-------------------copyright end------------>
