<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{%url 'index'%}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'jobs'%}">jobs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">taskers</a>
        </li>
      </ul>
      <div class="form-inline ml-auto my-2 my-lg-0">
        {%if user.is_authenticated%}
           <a href="{%url 'profile'%}" class="btn btn-outline-info">Profile</a>
           <a href="{%url 'logout'%}" class="btn btn-outline-info">Logout</a>
        {%else%}
          <a href="{%url 'login'%}" class="btn btn-outline-info">Login</a>
          <a href="{%url 'register'%}" class="btn btn-outline-info">Register</a>
        {%endif%}
      </div>
    </div>
  </div>
</nav>