{% extends 'myapp/base.html'%}
{%load static%}
{% block content %}

<div class="row mt-3 justify-content-center">
    <div class="navbar col-md-6 shadow-lg">
        <ul class="navbar-nav d-flex">
            <li class="nav-item"><a class="nav-link" href="{%url 'newjob'%}">Post Job</a> </li>
            <li class="nav-item"><a class="nav-link" href="#">Search Job</a> </li>
        </ul>
    </div>
</div>
<div class="row">
{% for x in jobs %}
    <div class="col-md-8 mt-4 shadow-lg p-2">
        <div class="card">
            <div class="card-header">
                <img class="thumbnail image-fluid" src="{%static 'media/default.png'%}"> <label class="h4 ml-3">{{x.job_posted_by}}</label>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2">
                        <img src="{%static 'media/default.png'%}" class="image-fluid" alt="jobimage">
                    </div>
                    <div class="col-md-8 ml-4">
                       <p>{{x.job_description}}</p>
                        <a class="btn btn-success" href="{%url 'job-detail' x.id%}"> View detailed</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{%endfor%}
 </div>
{% endblock content %}
