{% extends 'myapp/base.html'%}
{% load crispy_forms_tags%}
{%load static%}
{% block content %}
<div class="py-5 mt-3 text-center">
    <strong>Profile</strong>
</div>

<div class="row justify-content-center">
	<div class="col-lg-6 bg-white mt-3 pt-5 rounded-right">
				<h3 class="text-center">Information</h3>
				<hr class="badge-primary mt-0 w-25">
				<div class="row">
					<div class="col-sm-6">
						<p class="font-weight-bold">Username</p>
						<h6 class="text-muted">{{user.username}}</h6>
					</div>
					<div class="col-sm-6">
						<p class="font-weight-bold">First Name</p>
						<h6 class="text-muted">{{user.first_name}}</h6>
					</div>
					<div class="col-sm-6">
						<p class="font-weight-bold">Second Name</p>
						<h6 class="text-muted">{{user.last_name}}</h6>
					</div>

					<hr class="bg-primary">
					<div class="col-sm-6">
						<p class="font-weight-bold">Gender</p>
						<h6 class="text-muted">{{user.userprofile.gender}}</h6>
					</div>
					<div class="col-sm-6">
						<p class="font-weight-bold">contact</p>
						<h6 class="text-muted">{{user.userprofile.contact}}</h6>
					</div>
				</div>
				<hr class="bg-primary">
				<ul class="list-unstyled d-flex justify-content-center mt-4">
					<li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
					<li><a href="#"><i class="fab fa-youtube px-3 h4 text-info"></i></a></li>
					<li><a href="#"><i class="fab fa-twitter px-3 h4 text-info"></i></a></li>
				</ul>
		</div>
</div>
<div class="row">
	<div class="col-sm-6 d-flex">
		<a class="btn btn-secondary mr-3" id="updatebutton" href="#">Update profile</a>
		<a class="btn btn-secondary" id="#" href="#">Update Education</a>
	</div>
</div>
<div class="row justify-content-center">
	<div class="col-md-6 d-none" id="updateform">
		<form action="." method="post" enctype="multipart/form-data">
			{%csrf_token%}
			{{form|crispy}}
			{{userextradata|crispy}}
			<button class="btn btn-secondary" id="submit" type="submit">Update Profile</button>
		</form>
	</div>
	<div class="col-md-6" id="educationupdateform">
		<form action="." method="post" enctype="multipart/form-data">
			{%csrf_token%}
			{{usereducationcreate|crispy}}
			<button class="btn btn-secondary" id="educationsubmit" type="submit">Update</button>
		</form>
	</div>
</div>
<!-------------------------------------------------------javascript--------------------------------->
<script type="text/javascript">
var btn = document.getElementById('updatebutton')
var submitbtn = document.getElementById('submit')

btn.addEventListener('click', function(e){
	console.log('update button clicked')
	document.getElementById('updateform').classList.remove('d-none')
	document.getElementById('updatebutton').classList.add('d-none')
})
submitbtn.addEventListener('click', function(e){
	document.getElementById('updatebutton').classList.remove('d-none')
})
</script>
<!--------------------------------x-----------------------javascript-------------x-------------------->
{% endblock content %}