{% extends 'myapp/base.html'%}
{%load static%}
{% block content %}
<div class="float-right mt-3">
    <a class="btn btn-primary ml-3" href="{%url 'new-skill'%}">Add New Skill</a>
</div>
{%for x in skill%}
{%if x.author == user%}
<div class="card mt-5 p-2 shadow-lg">
    <div class="row">
        <div class="col-md-3 p-3 text-center">
            <img src="{%static 'media/default.png'%}" alt='skill-image' class="image-fluid">
        </div>
        <div class="col-md-6">
            <div class="card-title text-center"><label class="text-muted">Skill:</label> <span class="h4">{{x.SkillName}}</span></div>
            <div class="card-body text-center">
                <div class="row">
                    <div class="col-lg-6 ">
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item"><label class="text-muted">field:</label><span class="h4"> {{x.field}}</span></li>
                        <li class="list-group-item"><label class="text-muted">experience:</label> <span class="h3"> {{x.experience}}</span></li>
                      </ul>
                    </div>
                    <div class="col-lg-6">
                      <ul class="list-group list-group-flush">
                          <li class="list-group-item"><label class="text-muted">Level:</label> <span class="h4"> {{x.level}}</span></li>
                        <li class="list-group-item"><label class="text-muted">date posted:</label> <span class="h4"> {{x.dateposted}}</span></li>
                      </ul>
                    </div>
                </div>
            </div>
            <a class="btn btn-success center" href="{%url 'skill-detail' x.id%}">View detail</a>
        </div>
    </div>
</div>
{%endif%}
{%endfor%}
{% endblock content %}