{% extends 'myapp/base.html'%}
{% load crispy_forms_tags%}
{% block content %}
<div class="row">
    <form method="POST">
		{% csrf_token %}
		<fieldset class="form-group">
			<legend class="border-bottom mb-4">Login</legend>
			<div class="form-group">
				<p><label>username</label></p>
				<input type="text" name="username">

				<p><label>password</label></p>
				<input type="password" name="password">
			</div>
		</fieldset>
		<div class="form-group">
			<button class="btn btn-outline-info" type="submit">Login</button>
		</div>
	</form>
</div>
{% endblock content %}